<!-- Basic Salla Slider component Usage -->
<salla-slider id="thumbs" show-controls="true" type="thumbs">
  <div slot="items">
    <img src="https://picsum.photos/600/400?">
    <img src="https://picsum.photos/600/400?">
    <img src="https://picsum.photos/600/400?">
    <img src="https://picsum.photos/600/400?">
  </div>
  <div slot="thumbs">
    <img src="https://picsum.photos/600/400?">
    <img src="https://picsum.photos/600/400?">
    <img src="https://picsum.photos/600/400?">
    <img src="https://picsum.photos/600/400?">
  </div>
</salla-slider>