<section id="main-links-8" class=" s-block--categories"> 
    <div class="container-fluid">
        <salla-slider type="carousel" block-title="{{ component.category_title.title }}"  show-controls="false" id="main-links-8">
            <div slot="items"> 
                {% for category in component.category_item %}
                    <div class="swiper-slider slide--one-sixth">
                        <a href="#" class="slide--cat-entry" data-emergence="hidden">
                            <img class="bg-cover" src="{{category.category_image}}" />
                            <h4>{{ category.category_item_title }}</h4>
                        </a> 
                    </div>
                {% endfor %}
            </div>
        </salla-slider>
    </div>
</section>
