{# <section id="main-links-8" class=" s-block--categories"> 
    <div class="container-fluid">
        <salla-slider type="carousel" block-title="{{ component.category_title.title }}"  show-controls="false" id="main-links-8">
            <div slot="items"> 
                {% for category in component.category_item %}
                    <div class="swiper-slider slide--one-sixth">
                        <a href="" class="slide--cat-entry" data-emergence="hidden">
                            <img class="bg-cover" src="{{category.category_image}}" />
                            <h4>{{ category.category_item_title }}</h4>
                            <h4>{{ category.dropdown_list.value }}</h4>
                        </a> 
                    </div>
                {% endfor %}
            </div>
        </salla-slider>
    </div>
</section> #}

<section id="custom-products-section" class="my-custom-product-list" style="margin:0px 50px;padding:0px 0px 0px 0px; font-family: 'Rubik', sans-serif!important;"></section>
    <salla-products-list source="latest" limit="6" class=""></salla-products-list></section>