{#
| Variable    | Type    | Description                                                      |
|-------------|---------|------------------------------------------------------------------|
| url         | string  |                                                                  |
| image.url   | string  |                                                                  |
| image.alt   | ?string |                                                                  |
| position    | Int     | Sorting number start from zero                                   |
#}
<section class="s-block s-block--fixed-banner wide-placeholder">
    <div class="container-fluid">
        <a href="{{ url }}" class="overflow-hidden banner " aria-label="Banner {{ image.alt }}">
            <img width="93%" height="300" style="margin: auto; display:block ; " src="{{ image.url }}" alt="{{ image.alt|trim ? image.alt : 'fixed banner' }}"/>
        </a>
    </div>
</section>
